body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9eaf1;
    
}

header {
    background-color: #00161f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: large;
}

footer{
    background-color: #01212e;
}
section {
    max-width: 800px;
    margin: 2em auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #dcd4d4;
}

p {
    line-height: 1.6;
    color: #000000d4;
}
.clearfix p{
    color: white;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.card-img-top {
    margin-top: 10px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    margin-top: 10px;
    height: 290px;
    box-shadow: 5px 5px 10px #888888;

}

.card-text{
    color: #333;
}

.custom-img-size{
    width: 250px;
    border-radius: 50%;
    margin-right: 10px;
}

.git-btn{
    background-color: #1C2128;
    border-color: #1C2128;
}

.git-btn:hover{
    background-color: #39414b;
    border-color: #39414b;
}

.insta-btn{
    background-color: #E1306C;
    border-color: #E1306C;
}

.insta-btn:hover{
    background-color: #ff0055;
    border-color: #ff0055;
}

.face-btn{
    background-color: #4267B2;
    border-color: #4267B2;
}

.phone-icon{
    margin-top: 15px;
}

@media only screen and (max-width: 400px) {
    .insta-btn{
        margin-top: 5px;
    }
    .cards-row{
        margin-left: 30px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    .cards-row{
        margin-left: 50px;
    }
}

.separator {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.main-title{
    text-align: center;
    margin-top: 20px;
    color: #1C2128;
}

h3{
    margin-top: 40px;
    text-align: center;
}

.buttons-back button{
    display: flex;
    align-content: center;
    margin-top: 5px;
}